Ctegory#index</h1>
<h1>カテゴリ一覧</h1>

<%= link_to '課題ページ新規作成', new_user_category_subject_page_path(session[:user_id], 0) %>

<table border = 1>
  <thead>
    <th>カテゴリ名</th>
    <th>カテゴリ番号</th>
  </thead>
  <tbody>
    <% @categorys.each do |category| %>
      <tr>
        <td><%= link_to category.name, user_category_subject_pages_path(params[:user_id],category.id), method: 'get' %></td>
        <td><%= sprintf("%04d\n", category.category_number) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'ユーザー一覧へ', users_path %>
